h1 {
font-weight: bold;
text-align: center;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-item {
    margin-top: 25px;
    max-width: 98%;
}


@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}
