{% extends "layout.html" %}
{% block title %}
    Room Details
{% endblock title %}
{% block content %}

{% load rest_framework %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="method" value="PUT">
    {% render_field serializer.number style=style %}
    {% render_field serializer.category style=style %}
    <button type="submit" class="btn btn-success my-1">Save changes</button>
</form>
<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="method" value="DELETE">
    <button type="submit" class="btn btn-danger">Delete Room</button>
</form>
{% endblock %}
